@use '../settings/mixins' as m;
@use '../settings/colors' as c;
.main-section{
    @include m.container;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    .wrapper-welcome{
        @include m.center;
        flex-direction: column;
        h1{
            width: 23rem;
            font-size: 3.6rem;
            color: c.$light-color;
            margin-bottom: 1.8rem;
        }
        p{
            font-size: 1.8rem;
            color: c.$secondary-color;
            margin-bottom: 2.5rem;
        }
        div{
            display: flex;
            gap: 1.5rem;
            .button{
               background-color: c.$primary-color;
               border: none;
               width: 14rem;
               height: 4.2rem;
               font-size: 1.5rem;
               color: c.$dark-color;
               font-weight: 500;
               cursor: pointer;
               &.-contact{
                   background-color: c.$dark-color;
                   color: c.$light-color;
                   border: 1px solid c.$gray-1-color;
               }
            }
        }
    }
    .avatar-img{
        width: 90%;
        max-width: 300px;
        margin:auto;
    }
}