@use '../settings/colors' as c;
@use '../settings/mixins' as m;

.main-header{
    @include m.container;
    @include m.space-between;
    padding-top: 3.5rem;
    h1{
        color: c.$light-color;
        font-size: 2.6rem;
        font-weight: 700;
    }
    .main-nav{
        display: none;
        
        a{
            text-decoration: none;
            color: c.$light-color;
            font-size: 1.8rem;
            &:hover{
                color: c.$secondary-color;
            }
        }
        &.active{
            display: block;
            position: fixed;       
            top: 10rem;
            width: 100%;
            height: 100%;
            background-color: c.$dark-color;
            ul{
                display: flex;
                flex-direction: column;
                gap:3rem;
            }
        }
    }
    .menu-icon{
        font-size: 4.5rem;
        color: c.$light-color;
        cursor: pointer;
    }
}