@use '../settings/colors' as c;
@use '../settings/mixins' as m;

.main-header{
    @include m.container;
    @include m.space-between;
    padding-top: 3.5rem;
    h1{
        color: c.$light-color;
        font-size: 2.6rem;
        font-weight: 700;
    }
    .main-nav{
        display: none;
    }
    .menu-icon{
        font-size: 4.5rem;
        color: c.$light-color;
    }
}