@use '../settings/colors' as c;
@use '../settings/mixins' as m;
.skills-section{
    @include m.container;
    margin-top: 12rem;
    div{
        @include m.center;
        gap: 4.5rem;
        flex-wrap: wrap;
        .card-skill{
            @include m.center;
            height: 14rem;
            width: 14rem;
            background-color: c.$gray-2-color;
        }
    }
}