@mixin container {
    width: 80%;
    max-width: 1300px;
    margin: auto;
}
@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin md{
    @media (min-width:768px) {
        @content;
    }
}
@mixin xsm{
    @media (max-width:375px) {
        @content;
    }
}