@use './settings/mixins' as m;
@use './settings/colors' as c;
//Header
@include m.md{
    .main-header{
        .menu-icon{
            display: none;
        }
        .main-nav{
            display: flex;            
            ul{
                @include m.space-between;
                width: 48rem;
            }
        }
    }
}

//Main-section
@include m.md{
    .main-section{
        @include m.space-between;
        flex-direction: row;
        margin-top: 10rem;
        .wrapper-welcome{
            align-items: flex-start;
        }
    }
}
@include m.xsm{
    .main-section .wrapper-welcome div{
        display: flex;
        flex-direction: column;
    }
}