@use './settings/mixins' as m;
@use './settings/colors' as c;
//Header
@include m.md{
    .main-header{
        .menu-icon{
            display: none;
        }
        .main-nav{
            display: flex;            
            ul{
                @include m.space-between;
                width: 48rem;
            }
        }
    }
}
