@use './reset';
@use './components/about-section';
@use './components/card-project';
@use './components/card-services';
@use './components/main-footer';
@use './components/main-header';
@use './components/main-section';
@use './components/main-title';
@use './components/projects-section';
@use './components/services-section';
@use './components/skills-section';
@use './components/wrapper-item';
@use './responsive';